In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('TT.txt') # 'TT.txt' is what I combined from the 5 batch of result data
df.head(10)

        id                    attr
0  4546232         T0: 0, T1: 1766
1  3711008         T0: 0, T1: 1762
2  6394112  T0: 0, T1: 1914, T8: 0
3  5883774          T0: 0, T1: 944
4  2843733          T0: 0, T1: 538
5  2571713   T0: 0, T1: 414, T8: 0
6  1672856         T0: 0, T1: 1164
7  1899234          T0: 0, T1: 154
8  1257763         T0: 0, T1: 2383
9  6069784         T0: 0, T1: 2196

In [21]:
def formatting(row):
    step1 = row.split(',')
    
    lst = []
    for step in step1:
        clean = ":".join([item.lstrip() for item in step.split(':')])
        lst.append(clean)
    return ' '.join(lst)

df.attr = df.attr.astype('str')
df.attr = df.attr.apply(formatting)

In [23]:
df.to_csv('task2_result4.csv',index = False, encoding='UTF-8')